/** Spacer variables **/
body {
    --spacer-2xs: 0.25rem; /* 4px */
    --spacer-xs: 0.5rem;   /* 8px */
    --spacer-sm: 1rem;     /* 16px */
    --spacer-base: 1.5rem; /* 24px */
    --spacer-lg: 2rem;     /* 32px */
    --spacer-xl: 2.5rem;   /* 40px */
    --spacer-2xl: 5rem;    /* 80px */
    --spacer-3xl: 10rem;   /* 160px */
  }
  
  .overline {
    font-weight: 500 !important;
    font-size: 10px !important;
    line-height: 16px !important;
    letter-spacing: 1.5px;
    color: #666;
    text-transform: uppercase !important;
  }

  on-thumbnail > img {
    object-fit: contain;
  }
  
  ion-select {
    max-width: 100%;
  }
  
  hr {
    border-width: 1px;
    color: var(--ion-color-medium);
  }

  .desktop-only {
    display: none;
  }
  
  .mobile-only {
    display: unset;
  }
  

@media (prefers-color-scheme: dark) {
  ion-chip > ion-icon {
    color: var(--ion-color-dark);
  }

  .chip-outline {
    border-color: var(--ion-color-dark);
  }

  ion-item {
    --border-color: var(--ion-color-medium)
  }

}

@media (min-width: 991px) {
  .desktop-only {
    display: unset;
    }
    
  .mobile-only {
    display: none;
    }  
}